<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QCM Generator</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<div id="root"></div> {# TRÈS IMPORTANT : c'est ici que React s'affiche #}
</body>
</html>
